/* Global variables */
:root {
  /* Colors */
  --lightgray: rgb(230, 237, 243);
  --orange: rgb(255, 166, 87);
  --green: rgb(81, 198, 96);
  --lightgreen: rgb(215, 255, 215);
  --lightblue: rgb(165, 214, 255);
  --blue: rgb(121, 192, 255);
  --purple: rgb(210, 168, 255);
  --lightpurple: rgb(225, 196, 255);
  --dark: rgb(13, 17, 23);
}

/* Fonts */
@font-face {
  font-family: "Roboto Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono Regular"), url("/fonts/RobotoMonoRegular.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy"), url("/fonts/AvenirLTProHeavy.woff") format("woff");
}

body {
  font-family: "Roboto Mono Regular", monospace;
  color: var(--lightgray);
  width: 90vw;
  max-width: 1000px;
  background: var(--dark);
  margin: auto;
  padding: 2rem 0;
  /* border: 0.1rem solid white; */
}

h1 {
  font-size: 4rem;
  margin: 0 auto -1rem;
  font-family: "Avenir LT Pro 85 Heavy", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: var(--blue);
}

h2 {
  font-size: 2.4rem;
  margin: 0 auto;
  font-family: "Avenir LT Pro 85 Heavy", Helvetica, Arial, sans-serif;
  color: var(--blue);
}

h3 {
  font-size: min(1.4rem, 120%);
  color: var(--orange);
}

h4 {
  font-size: 1rem;
  color: var(--purple);
  margin-top: 0;
}

p {
  font-size: 1rem;
}

img {
  border-radius: 0.5rem;
}

#links {
  display: inline-flex;
  font-size: 1rem;
  gap: 2rem;
  color: var(--green);
}

#links img {
  height: 1rem;
  display: inline;
  vertical-align: auto;
  border-radius: 0;
}

#links a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.1s;
}

#links a:hover {
  color: var(--lightgreen);
  transform: translateY(-0.1rem);
}

section {
  margin-top: 3.6rem;
}

.entry {
  display: flex;
  /* flex: row; */
  width: 100%;
  gap: 1.2rem;
  margin: 1.5rem auto 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

#work .entry:hover,
#projects .entry:hover {
  transform: translateX(0.25rem);
}

#work .entry img,
#projects .entry img {
  width: 18rem;
  height: 12rem;
  margin: 0;
  object-fit: cover;
}

#aboutme .entry img {
  width: 16rem;
  object-fit: cover;
}

.entry h3 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.entry p,
.entry ul {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.entry a {
  text-decoration: none;
  color: var(--purple);
}

.entry a:hover {
  color: var(--lightpurple);
}

#aboutme p {
  margin: 0;
}

#aboutme .prompt {
  color: var(--orange);
  font-weight: bold;
}

ul.skills {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

ul.skills li {
  display: inline-block;
  padding: 0.1rem 0.6rem;
  background-color: var(--green);
  color: var(--lightgreen);
  font-size: 0.8rem;
  border-radius: 1.25rem;
  text-align: center;
}

/* footer hr {
  height: 1px;
  border-width: 0px;
  background-color: var(--lightgray);
  border-color: var(--lightgray);
} */

footer {
  margin-top: 8rem;
}

footer p {
  font-size: small;
  text-align: center;
}

/* Mobile screens and narrow viewports */
@media (max-width: 800px) {
  #links {
    gap: 3rem;
  }

  #links img {
    height: 1.5rem;
  }

  .link-text {
    display: none;
  }
  
  .entry {
    flex-direction: column;
  }

  #work .entry img,
  #projects .entry img {
    width: 100%;
    height: 66%;
  }

  #aboutme .entry img {
    width: 75%;
    height: 75%;
  }
}
