<div style="margin-top: 4em;margin-bottom: 4em;">
  <h2 class="heading">{{ "About" | upcase }}</h2>
  <p>
    <span class="orange">Education:</span>
    MS, Robotics @ University of Michigan<br>
    BS, Mechanical Engineering @ Northwestern University
  </p>
  <p>
    <span class="orange">Robotics interests:</span>
    mobile robotics, legged robotics, robot manipulators
  </p>
  <p>
    <span class="orange">Why robotics:</span>
    its capacity to solve modern problems is incredible;
    also, given how prevalent it will be in the future, I want to do my part to ensure it is done right.
  </p>
  <p>
    <span class="orange">In my free time:</span>
    soccer, dance, video games, drawing
  </p>
  <p>
    <span class="orange">Music:</span>
    Bryson Tiller, dvsn, NIKI, The Weeknd, Chelsea Cutler
  </p>
</div>