
<div style="margin-top: 4em;margin-bottom: 4em;">
  <h2 class="heading">{{ page.list_title | default: "Projects" | upcase }}</h2>
  <div class="flex">
    <div style="max-width: 400px;">
      {%- for project in site.projects -%}
      <h3 class="subheading">
        <a id="{{ project.title }}" onmouseover="changeIcon(this)" href="{{ project.url | relative_url }}">
          {{ project.title | escape }}
        </a>
      </h3>
      <p>{{ project.summary }}</p>
      {%- endfor -%}
      
    </div>
    <div style="flex-basis: auto;"><img id="project_icon" src="/assets/home/blank.png"></div>
  </div>
</div>

<script>
  function changeIcon(project) {
    var image = document.getElementById("project_icon");
    switch(String(project.id)) {
      case "Balancebot":
        image.src = "/assets/home/balancebot.png";
        break;
      case "Rexarm":
        image.src = "/assets/home/rexarm.png";
        break;
      case "SLAMbot":
        image.src = "/assets/home/slambot.png";
        break;
      case "Tribot":
        image.src = "/assets/home/tribot.png";
        break;
    }
  }
</script>