---
layout: default
---

<div class="home">
  <h1 class="heading">{{ site.title | upcase }}</h1>
  <h3 class="home-subheading">{{ site.headline }}</h3>
  <p>{{ site.description }}</p>
  <br>

  {%- if site.projects.size > 0 -%}
    <h2 class="heading">{{ page.list_title | default: "Projects" }}</h2>
    {%- for project in site.projects -%}
      <h3>
        <a class="home-subheading" href="{{ project.url | relative_url }}">
          {{ project.title | escape }}
        </a>
      </h3>
      <p> {{ project.summary}} </p>
    {%- endfor -%}
  {%- endif -%}
  
  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
