---
layout: default
---

<div class="home">
  <header>
    <h1 class="heading" style="font-size:80px;margin-bottom:0em;">{{ site.title | upcase }}</h1>
    <h3 class="subheading">{{ site.headline }}</h3>
  </header>
  <p>{{ site.description }}</p>
  
  {%- include links.html -%}
  
  {%- if site.projects.size > 0 -%}
    <div style="margin-top:2em;margin-bottom:2em;">
      <h2 class="heading">{{ page.list_title | default: "Projects" }}</h2>
      <p style="float:right;"><img src="/assets/projects/4x4.jpg" height="320px"></p>
      <p>
      {%- for project in site.projects -%}
        <h3>
          <a class="subheading" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
          </a>
        </h3>
        <p>{{ project.summary }}</p>
      {%- endfor -%}
      </p>
    </div>
  {%- endif -%}

  <h2 class="heading">{{ page.list_title | default: "About" }}</h2>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
